services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/orm_demo
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=orm_demo
    ports:
      - "5432:5432"
    # volumes:
    #  - pg_data:/var/lib/postgresql/data

# volumes:
  # pg_data:
